<template>
<div>
  <div class="row">
    <div class="task-section">
  <div class="column" style="background-color:#fff;">
    <h2>My TASK</h2>
    <p>Hi</p>
  </div>
  <div class="column" style="background-color:#553e7c;">
    <h2 class="top-pad">Hi!</h2>
    <p> Nothing to do yet? Think about it and let's start!</p>
     <div class="task-btn">
              <router-link to="/todo"> ADD TASK </router-link>
         </div>
  </div>
  </div>
</div>
</div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
  box-sizing: border-box;
}
.column {
  float: none;
  width: 50%;
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
  display: inline-block;
  vertical-align: top;
  color:aliceblue;

}
.top-pad {
 padding-top: 70px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.task-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 5px 15px;
}
.task-btn{
  padding-top: 20px;
}
.task-section {
    width: 60%;
    margin: 0px auto;
    box-shadow: -1px 8px 5px 15px rgba(234, 225, 225, 0.3);
    margin-bottom: 50px;
    border-radius: 15px;
    }
</style>
