<template>
  <div class="todo">
 <h3> summary</h3>
 <div class="summary-list">
     <div class="summary-div">
         <div v-for="task in taskLists" :key="task">
            <span class="summary-text">{{  task }}</span>
            <span class="summary-value">{{  task }}</span>
         </div>
         <div class="task-btn">
              <router-link to="/taskList"> VIEW TASK </router-link>
         </div>
     </div>
 </div>
</div>
</template>

<script>
export default {
    data()
    {   return{
         taskLists: ['All Things', 'Business', 'Personal', 'Family','Work']
    }
       
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
#margin-shift{
    margin-left: 20%;
}
.summary-div {
    width: 400px;
    margin: 0px auto;
}

.summary-div span.summary-text {
    width: 50%;
    display: block;
    float: left;
    text-align: left;
    padding-bottom: 5px;
    color:#fff;
    position: relative;
    }
.summary-div span.summary-value {
    width: 50%;
    float: right;
    text-align: right;
    display: block;
    padding-bottom: 5px;
    color:#fff;
}
.task-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 5px 15px;
}
</style>