<template>
<div>
    <div class="row">
        <div class="task-section">
            <div class="column task-left-section">
               <div style="color:black;"> <h2>My Task</h2></div>
                <div class="summary-list">
                    <div class="summary-div">
                       <div class="task-list-table">
                           <table>
                            <tr>
                                <th>Image</th>
                                <th>Title</th> 
                                <th>Action</th>
                            </tr>
                            <tr v-for="task in tasklists" :key="task.id">
                                    
                                <td>
                                     <img src="../assets/download-(1).jpg"  alt="test-img" class="task-img">
                                     <!-- <img src="'../assets/'+ task.file_name"  alt="test-img" class="task-img"> -->
                                   
                                    </td>
                                <td> {{ task.task_type}}</td>
                                <td>
                                    <button class="view-btn">VIEW</button>
                                    <span class="view-data">test</span>
                                </td>
                            </tr>
                            </table>
                       </div>
                        <div class="task-btn">
                            <button> All</button>
                            <button> Done</button>
                            <button> Active</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column" style="background-color:#553e7c; color:#fff;">
                <h2 class="top-pad">Hi!</h2>
                <p> Nothing to do yet? Think about it and let's start!</p>
                <div class="task-btn">
                  <router-link to="/todo"> ADD TASK </router-link>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data()
    {
      return{
           tasklists:[],
           response_status:""
        }
    },
    methods:{
         getPic(picname) {
             //alert(picname);
      return '../assets/'+ picname;
    }
    },
    
    mounted()
    {
      //alert('created')
        let $this = this; 
        let getDetail = {
                 action: "list"
         }
        getDetail = JSON.stringify(getDetail)
        const getAllData = new FormData();
        getAllData.append('data', getDetail)
        this.$axios.post('http://localhost/to_do_api/api.php',getAllData
      ).then(function(response){
           console.log(response);
            $this.response_status = response.data.status;
        if($this.response_status == 1)
        {
            $this.tasklists = response.data.records;
            console.log($this.tasklists);
        }
        }).catch(function(error)
        {
            console.log(error)
        });
    },
   
   
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#margin-shift{
    margin-left: 20%;
}
* {
  box-sizing: border-box;
}
.column {
  float: none;
  width: 50%;
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
  display: inline-block;
  vertical-align: top;


}
.top-pad {
 padding-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.task-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 5px 15px;
}
.task-btn{
  padding-top: 20px;
}

.summary-div {
    width: 375px;
    margin: 0px auto;
}

.summary-div span.summary-text {
    width: 50%;
    display: block;
    float: left;
    text-align: left;
    padding-bottom: 5px;
    color:#fff;
    position: relative;
    }
.summary-div span.summary-value {
    width: 50%;
    float: right;
    text-align: right;
    display: block;
    padding-bottom: 5px;
    color:#fff;
}
.column form input[type="text"], .column form select {
    width: 100%;
    height: 30px;
}
.column form {
    max-width: 250px;
    margin: 0px auto;
}

.column form input[type="text"], .column form select, .column form input[type="date"] {
    background-color: rgba(186, 151, 253, 0.2);
    border: none;
    padding: 6px;
    color: grey;
    margin-bottom:10px;
}
.date-toggle {
    display: flex;
    justify-content: space-between;
}

.column form button {
    background: no-repeat;
    border: none;
    display: block;
    text-align: center;
    width: 100%;
}
.task-section {
    width: 60%;
    margin: 0px auto;
    box-shadow: -1px 8px 5px 15px rgba(234, 225, 225, 0.3);
    margin-bottom: 50px;
    border-radius: 15px;
    }
.summary-div table {
    width: 100%;
}

.summary-div table td {
    padding: 10px 0px;
}

.summary-div .task-list-table {
    height: 190px;
    overflow-x: hidden;
    border: 1px solid #eaeaea;
    background-color: rgba(255, 255, 255, 0.5);
}
img.task-img {
    max-width: 30px;
    border-radius: 50%;
}
.task-left-section {
    background-image: url(https://images.unsplash.com/photo-1518674660708-0e2c0473e68e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.view-data{
    display: none;
}
</style>