<template>
<div>
    <div class="row">
        <div class="task-section">
            <div class="column" style="background-color:#d8525c;">
    <h2>SUMMARY</h2>
   <div class="summary-list">
     <div class="summary-div">
        
             <div v-for="exist in exist_data_type" :key="exist">
                    <span class="summary-text">{{ exist.title }}</span>
                    <span class="summary-value">{{ exist.count }}</span>
                
              </div>

        
         <div class="task-btn">
              <router-link to="/taskDetail"> VIEW TASK </router-link>
         </div>
     </div>
    </div>
  </div>
  <div class="column task-left-section" >
    <h2 class="top-pad" style="color:black;">New Task</h2>
     <form name="todo-form" method="post" enctype="multipart/form-data">
         <input type="file" id="files" ref="files" @change="onChangeFileUpload"/>
        <select v-model="TaskDetails.tasktype">
            <option v-for="task in taskLists_new" :key="task.title" > {{ task.title }}  </option>
        </select><br />
    
        <input type="text" placeholder="What I have to do?*" v-model.lazy="TaskDetails.taskName"/><br />
    
        <input type="text" placeholder="Where" v-model.lazy="TaskDetails.fromWhere" /><br />
    
        <div class="date-toggle">
            <input type="date" placeholder="When" v-model.lazy="TaskDetails.taskTime" />
            <div style="color:black;"><input type="checkbox" value="All Day" v-model="TaskDetails.allDay" style = "color:black !imporatnt;">All Day </div>   
        </div> <br />
        <div style="color:black;"><p>{{ savingStatus }}</p> </div>
         <button v-on:click.prevent="postnote">ADD TASK</button>
        </form>
  </div>
   
        </div>
    </div>
</div>
</template>

<script>
export default {
    data()
    {
        
        return{
             FormValid: false,
            TaskDetails:{
                tasktype:"",
                taskName:"",
                fromWhere:"",
                taskTime:"",
                allDay:"",
                savingStatus:""
               
               
            },
            taskLists: ['All Things', 'Business', 'Personal', 'Family','Work'],
            taskLists_new: [
                { title: 'All Things', total:0}, 
                { title:'Business', total:0}, 
                { title:'Personal', total:0},
                { title:'Family', total:0},
                { title:'Work', total:0}
                ],
            response_status:"",
            updated_status:"",
            exist_data_type:[],
            new_data:[],
            files:{},
           
        }
    },
    methods:{

        
        onChangeFileUpload(e)
        {
            //alert("hello");
           // alert(e.target.files);
            //console.log(e.target.files[0]);
           
            this.files = e.target.files[0];
            console.log(this.files);
              const fileType = this.files.type;
              const fileSize = this.files.size;
              console.log(fileSize);
            const validImageTypes = ['image/gif', 'image/jpeg', 'image/png', 'image/jpg'];
             if (!validImageTypes.includes(fileType) || fileSize > 4000000) {
                 this.FormValid = false;
         }else{
          this.FormValid = true;
        }
          
        },
        postnote:function()
      {
        let $this = this;
        console.log(this.files);
        let rawData = {
                 taskType: this.TaskDetails.tasktype,
                taskName: this.TaskDetails.taskName,
                fromWhere: this.TaskDetails.fromWhere,
                taskTime: this.TaskDetails.taskTime,
                allDay: this.TaskDetails.allDay,
                action: "insert"
              }
              rawData = JSON.stringify(rawData)
               const formData = new FormData();
                formData.append('file', this.files)
                formData.append('data', rawData)

        this.$axios.post('http://localhost/to_do_api/api.php',formData, {
              headers: {
                'Content-Type': 'multipart/form-data'
              }}).then(function(response){
            console.log(response.data);
             //$this.updated_status = response.data.status;
          
             if(response.data.status == 1)
             {
                 $this.savingStatus = 'Task has successfully added!';
                 $this.exist_data_type = response.data.records;
            //     console.log(response.data.records);
            //      console.log($this.exist_data_type);
              
             }
        }).catch(function(error)
        {
            $this.savingStatus = 'Sorry not added successfully!';
            console.log(error)
        });
      }
    },
    created()
    {
        //alert('created');
        let $this = this; 
         let rawData = {
                 action: "count"
              }
              rawData = JSON.stringify(rawData)
               const countData = new FormData();
                countData.append('file', this.files)
                countData.append('data', rawData)
       this.$axios.post('http://localhost/to_do_api/api.php',countData).then(function(response){
           console.log(response);
            $this.response_status = response.data.status;
          
            if($this.response_status == 1)
            {
                $this.exist_data_type = response.data.records;
              //  console.log(response.data.records);
                 console.log($this.exist_data_type);
            }
           
        }).catch(function(error)
        {
            console.log(error)
        });
     }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
#margin-shift{
    margin-left: 20%;
}
* {
  box-sizing: border-box;
}
.column {
  float: none;
  width: 50%;
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
  display: inline-block;
  vertical-align: top;
  color:aliceblue;

}
.top-pad {
 padding-top: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.task-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 5px 15px;
}
.task-btn{
  padding-top: 20px;
}

.summary-div {
    width: 375px;
    margin: 0px auto;
}

.summary-div span.summary-text {
    width: 50%;
    display: block;
    float: left;
    text-align: left;
    padding-bottom: 5px;
    color:#fff;
    position: relative;
    }
.summary-div span.summary-value {
    width: 50%;
    float: right;
    text-align: right;
    display: block;
    padding-bottom: 5px;
    color:#fff;
}
.column form input[type="text"], .column form select {
    width: 100%;
    height: 30px;
}
.column form {
    max-width: 250px;
    margin: 0px auto;
}

.column form input[type="text"], .column form select, .column form input[type="date"] {
    background-color: rgba(186, 151, 253, 0.2);
    border: none;
    padding: 6px;
    color: grey;
    margin-bottom:10px;
}
.date-toggle {
    display: flex;
    justify-content: space-between;
}

.column form button {
    background: no-repeat;
    border: none;
    display: block;
    text-align: center;
    width: 100%;
}
.task-section {
    width: 60%;
    margin: 0px auto;
    box-shadow: -1px 8px 5px 15px rgba(234, 225, 225, 0.3);
    margin-bottom: 50px;
    border-radius: 15px;
    }
    .task-left-section {
    background-image: url(https://images.unsplash.com/photo-1518674660708-0e2c0473e68e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
</style>