<template>
  <div id="app">
    
   
     <router-view></router-view>
  
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
  </div>
</template>

<script>
//import HelloWorld from "./components/HelloWorld.vue";


export default {
  name: "app",
  
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding-top: 20px;
  background-image: url("./assets/bg_img_vue_1.jpg");
  background-size:cover;
  min-height: 100vh;
}
body{
  margin: 0px;
}
</style>
